body {
  font-family: "Crimson Pro", "Georgia", serif;
  margin: 1.5rem;
  background: #f8f8f5;
  color: #252525;
}

header h1 {
  margin: 0;
}

header p {
  margin: 0 0 0.2em;
}

header nav {
  margin: 0 0 2em;
}

section h3 {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

section h3:first-child {
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 1.75em;
}

section li {
  margin-bottom: 0.6em;
}

section li:last-child {
  margin-bottom: 0;
}

a {
  color: #5c5c5c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#name {
  font-family: "Gulzar", serif;
}
