body {
  font-family: "Crimson Pro", "Georgia", serif;
  margin: 0;
  padding: 1.5rem;
  background: #f8f8f5;
  color: #252525;
}

main {
  max-width: 34rem;
  margin: 0 auto;
}

header h1 {
  margin: 0 0 0.1em;
}

header nav {
  margin: 0 0 2em;
}

section h3 {
  margin: 0.4em 0 0.2em;
}

section h3:first-child {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1.75em;
}

section li {
  margin-bottom: 0.7em;
}

section li:last-child {
  margin-bottom: 0;
}

a {
  color: #5c5c5c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#name {
  font-family: "Gulzar", serif;
}
